<%! from django.utils.translation import ugettext as _ %>
<%inherit file="../main.html" />

<%block name="pagetitle">${_("Vision")}</%block>

<section class="static-container about">
<h1>${_("Vision")}</h1>
<p>${_(" A propos
Cabacadémie est un outil d’apprentissage en ligne, nous permettons aux étudiants  de se préparer pour les concours d’admission, nous facilitons la formation professionnelle en rendant accessible la formation continue.
La devise que nous poursuivons  est ”une nouvelle  façon de distribuer l’éducation ”  notre mission est de mettre en ligne des modules d’apprentissage dans des domaines spécifiques. Nous  voulons préparer nos concitoyens  à  être  la pierre angulaire  de l’Haiti de demain.
 
Comment ça marche ?
Chaque cours est disponible sur le site  de façon modulaire, l’étudiant  désireux de suivre un cours doit d’abord s’abonner à ce module .Dépendamment du module en question  il est accompagné de questionnaire ou de projet   permettant à l’étudiant    d’évaluer sa performance.
 
 
Pour quelles  facultés  Cabacadémie offre t-il des modules de préparation pour les concours ?
Cette année  nous aidons les finissant à se préparer pour les facultés suivantes :
La faculté des Sciences
La faculté de droit et des Sciences Economiques.
l'INHAGHEi .
La faculté de médecine et de pharmacie.
L’ENST .
Le CTPEA.
La faculté d’agronomie et de Médecine Vétérinaire.
 
 
 
 
Quels sont les procédures pour s’inscrire sur Cabacadémie ?
Pour l’instant nous acceptons les paiements mobile, l’étudiant peut utiliser les moyens de paiement ”Mon  Cash et Lajan cash ”. Le numéro de la transaction doit être envoyé pour la livraison des codes d’accès au site.
 
Formation Continue.
Pour Entreprise.
Nous travaillons avec les entreprises de la place afin de leur permettre d’utiliser notre plateforme pour tout type de formation dans le but de garantir que les ressources humaines soient à jour  avec les avancées dans leur domaine spécifique.
 
 
Collaboration avec les écoles et universités.
Les écoles et universités  peuvent utiliser notre  outil pour faciliter  la distribution de contenue, la préparation des examens et des projets.
 
 
Apprentissage libre
Nous permettons aux professionnels Haïtiens  de suivre en ligne  des modules leur permettant de faire face aux besoins croissants du marché du travail, nous permettons aussi aux étudiants finissant  de mieux cerner le marché du travail.
Nous offrons aussi des modules spécifiques  à leurs besoins..")}</p>
</section>
